
{% extends 'master.html.twig' %}
{% block head %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Gestionnaire de  notes</h1>
                </div><!-- /.col -->
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>-->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <div align="center" style="margin-bottom: 40px" >
        <a href="{{ path('notes_index',{'id':1}) }}" class="btn  {% if noteNV is defined %}btn-primary {% else %}btn-default {% endif %}  ">En attente de validation</a>
        <a href="{{ path('notes_index',{'id':2}) }}" class="btn {% if noteR is defined %}btn-primary {% else %}btn-default {% endif %} ">Rejeté</a>
    </div>
    {% if noteNV is defined %}
        {% if noteNV == null %}
            <h1 class="text-muted text-center">Aucune note en  attente de validation</h1>
            {% endif %}
{% for i in noteNV %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6><b>Note en attente validation</b></h6>
                <h6><b>Professeur</b> : {{ i['professeur'] }}</h6>
                <h6><b>Matiere</b> :{{ i['matiere'] }}</h6>
                <h6><b>Coefficient</b> : {{ i['coefficient'] }}</h6>
                <h6><b>Classe</b> : {{ i['classe'] }}</h6>
                <h6><b>Effectif</b> :{{ i['effectif'] }}</h6>
                <h6><b>Période</b> : 1 semestre</h6>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">notes des éleves</h3>
                        </div>
                        <!-- /.card-header -->

                        {% for l in i['note'] %}
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Elève</th>
                                    <th>{{ l[0]['type'] }}</th>
                                    <th>Obs.</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for k in l %}
                                    <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ k['eleve'] }}</td>
                                    <td>{{ k['valeur'] }}</td>
                                    <td></td>
                                    </tr>{% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                            <div align="center">
                               <a href="{{ path('notes_rejet',{'idCm':i['idCm'],'type': l[0]['type'] }) }}" onclick="return confirm('voulez-vous vraiment rejeter ces notes ?')" class="btn btn-danger"> Rejeter cette composition </a>
                               <a href="{{ path('notes_validation',{'idCm':i['idCm'],'type': l[0]['type'] }) }}" onclick="return confirm('voulez-vous vraiment valider ces notes ?')" class="btn btn-success"> Valider cette composition </a>
                            </div>
                        </div>

                            {% endfor %}
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    {% if noteR == null %}
        <h1 class="text-muted text-center">Aucune note en  attente de validation</h1>
    {% endif %}
    {% for i in noteR %}
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6><b>Note Rejeter</b></h6>
                    <h6><b>Professeur</b> : {{ i['professeur'] }}</h6>
                    <h6><b>Matiere</b> :{{ i['matiere'] }}</h6>
                    <h6><b>Coefficient</b> : {{ i['coefficient'] }}</h6>
                    <h6><b>Classe</b> : {{ i['classe'] }}</h6>
                    <h6><b>Effectif</b> :{{ i['effectif'] }}</h6>
                    <h6><b>Période</b> : 1 semestre</h6>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">notes des éleves</h3>
                            </div>
                            <!-- /.card-header -->

                            {% for l in i['note'] %}
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Elève</th>
                                            <th>{{ l[0]['type'] }}</th>
                                            <th>Obs.</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for k in l %}
                                            <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ k['eleve'] }}</td>
                                            <td>{{ k['valeur'] }}</td>
                                            <td></td>
                                            </tr>{% endfor %}
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                    <div align="center">
                                        <a href="{{ path('notes_validation',{'idCm':i['idCm'],'type': l[0]['type'] }) }}" onclick="return confirm('voulez-vous vraiment valider ces notes ?')" class="btn btn-success"> Valider cette composition </a>
                                    </div>
                                </div>

                            {% endfor %}
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}