{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-2 text-dark">Classe</h1>

              {% if app.session.getFlashBag.has('info') %}
              {% for flashMessage in app.session.flashbag.get('info') %}

              
                <div class="alert alert-danger">
                    <span class="T">  {{ flashMessage |raw }}</span>
                </div>
            
             
          
               {% endfor %}
              {% endif %}
              
              {% if app.session.getFlashBag.has('success') %}
              {% for flashMessage in app.session.flashbag.get('success') %}

              
                <div class="alert alert-info">
                    <span class="T">  {{ flashMessage |raw }}</span>
                </div>
            
             
          
               {% endfor %}
              {% endif %}
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
<section class="content">
    <div class="row">
        <div class="col-8">
          <div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">Liste des classes
            {#<a type="button" href="#eleve_modal" class="btn btn-primary btn-sm pull-right rounded" data-toggle="modal">Ajouter</a>#}
            {#<a type="button" href="{{ path('classe_new') }}" class="btn btn-primary btn-sm pull-right rounded" >Ajouter</a>#}
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Libelle</th>
                <th>Date Creation</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="{{ path('eleve_classe_index', { 'classe': classe.id }) }}">{{ classe.libelle }} </a></td>
                <td>{{ classe.dateCreation | date('Y-m-d H:i:s')}}</td>
                <td>
                    <div class=" row d-column justify-content-center">

                       
                        <div class="">  <a class="btn"   title="Liste des matieres" href="{{ path('class_mat_index', { 'id': classe.id }) }}" rel="#"><i class="fa fa-list text-secondary"></i></a></div>
                       
                        <div class="">  <a class="btn" href="{{ path('classe_show', { 'id': classe.id }) }}" rel="#"><i class="fa fa-file-o text-primary"></i></a></div>
                        {% if app.session.get('annee').cloture==0 %}  
                            <div class=""> <a  class="btn" href="{{ path('classe_edit', { 'id': classe.id }) }}" class="" {% if app.session.get('annee').cloture==1 %} disabled {% endif %}><i class="fa fa-edit text-warning"></i></a></div>
                        
                            {% if classe.archiver %}
                                <div class=""> <a class="btn" {% if app.session.get('annee').cloture==1 %} disabled {% endif %}   href="{{ path('classe_desarchive', { 'id': classe.id }) }}"><i class="fa fa-folder-open-o text-success"></i></a></div>
                            {% else %}
                                <div class=""> <a class="btn" {% if app.session.get('annee').cloture==1 %} disabled {% endif %}   href="{{ path('classe_archive', { 'id': classe.id }) }}"><i class="fa fa-folder text-danger"></i></a></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
        </div>
        <div class="col-lg-4 ">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="m-0">Nouvelle Classe</h5>
                    </div>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="form-group">
                            <label for="">Type par defaut</label>
                            <input type="text" name="default" class="form-control" required>
                    </div>
                    <button class="btn btn-success pull-right  " {% if app.session.get('annee').cloture==1 %} disabled {% endif %} type="submit"> Ajouter  </button>
                    {{ form_end(form) }}

                    {#<ul>#}
                    {#<li>#}
                    {#<a href="{{ path('ecole_index') }}">Back to the list</a>#}
                    {#</li>#}
                    {#</ul>  #}
                </div>
            </div>
        </div>

    </div></section>
{% endblock %}
