{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Classe</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">Liste des classes
            {#<a type="button" href="#eleve_modal" class="btn btn-primary btn-sm pull-right rounded" data-toggle="modal">Ajouter</a>#}
            <a type="button" href="{{ path('classe_new') }}" class="btn btn-primary btn-sm pull-right rounded" >Ajouter</a>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Libelle</th>
                <th>Date Creation</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td><a href="{{ path('classe_show', { 'id': classe.id }) }}">{{ classe.id }}</a></td>
                <td><a href="{{ path('classe_show', { 'id': classe.id }) }}">{{ classe.libelle }} </a></td>
                <td>{{ classe.dateCreation | date('Y-m-d H:i:s')}}</td>
                <td>
                    <div class=" row d-column justify-content-center">
                            <div class="">  <a class="dropdown-item modif btn btn-sm btn-secondary" title="Liste des matieres" href="{{ path('classe_show', { 'id': classe.id }) }}" rel="#"><i class="fa fa-list text-secondary"></i></a></div>
                        <div class="">      <a href="{{ path('classe_edit', { 'id': classe.id }) }}"><i class="fa fa-edit text-warning"></i></a></div>
                        <div class="">  <a class="dropdown-item infos btn btn-sm btn-linkedin" href="{{ path('classe_show', { 'id': classe.id }) }}" rel="#"><i class="fa fa-file-o text-primary"></i></a></div>
                        {% if classe.archiver %}
                            <div class=""> <a class="dropdown-item btn btn-sm btn-success "  href="{{ path('classe_desarchive', { 'id': classe.id }) }}"><i class="fa fa-folder-open-o text-success"></i></a></div>
                        {% else %}
                            <div class=""> <a class="dropdown-item btn btn-sm btn-danger "  href="{{ path('classe_archive', { 'id': classe.id }) }}"><i class="fa fa-folder text-danger"></i></a></div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock %}
