<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>SchooLink | {% block titre %} {% endblock %}</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}">
    {#<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">#}
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('build/structure.css') }}">

    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{asset('plugins/datepicker/dist/datepicker.min.css')}}">
    <!-- Google Font: Source Sans Pro -->

    <style>
        .border-red{
            border: 1px solid indianred;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-light-blue-gradient navbar-light border-bottom">
        <!-- Left navbar links -->
        <div class="user-panel mr-auto d-flex">
    
        <form class="form-inline ml-3"  method="POST" action="{{path('active')}}">
            <div class="input-group input-group-sm">
              <select class="form-control form-control-navbar" name="year">
                  <option value="0"> selectionnez une année</option>
                {% for annee in app.user.ecole.annees %}

                <option value="{{annee.id}}"> {{annee.dateDebut|date('Y')}} - {{annee.dateFin|date('Y')}}</option>
                {% endfor %}
              </select>
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                Appliquer
                </button>
              </div>
            </div>
          </form>
        </div>   
        <div>
            {% if app.session.has('annee') %}
            <span>Année Académique : {{ app.session.get('annee').dateDebut |date('Y')}} - {{ app.session.get('annee').dateFin |date('Y')}}</span>
                
            {% endif %}
        
        </div>    
        <div class="user-panel ml-auto d-flex">
        
                  <a class="nav-link" data-toggle="dropdown" href="{{path('show_notif')}}">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-warning navbar-badge" id="n">0 </span>
                  </a>
                
                <div class="image">
                    <img src="{{asset('img/avatar.png')}}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="{{path('profil_ecole_show',{'id':app.user.ecole.id})}}" class="d-block text-lowercase">{{app.user.ecole.censeur.nom}}  {{app.user.ecole.censeur.prenom}}</a>
                </div>
                
            </div>
        <!-- Right navbar links -->
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="{{asset('img/Logo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">SchoolLink</span>
        </a>
      
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
           
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                      <img src="{{asset('img/ecole.png')}}" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                      <a href="{{path('profil_ecole_show',{'id':app.user.ecole.id})}}" class="d-block">{{app.user.ecole.nom}}</a>
                    </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
                    <li class="nav-item">
                        <a href="{{path('schools')}}" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                 Années Académique
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('classe_index',{'id':null})}}" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                Classe
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('matiere_index')}}" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                Matiere
                            </p>
                        </a>
                    </li>
                  

                    <li class="nav-item">
                        <a href="{{path('eleve_index')}}" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                Eleve
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                            <a href="{{path('home_prog')}}" class="nav-link">
                                <i class="nav-icon fa fa-th"></i>
                                <p>
                                    Gestion
                                </p>
                            </a>
                        </li>
                    
                    <li class="nav-item">
                        <a href="{{path('ecole_professeur_index')}}" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                Professeur
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('notes_index',{"id":1})}}" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                Notes
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('resultat_index')}}" class="nav-link">
                            <i class="nav-icon fa fa-th"></i>
                            <p>
                                Résultats
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('fos_user_security_logout') }}" class="nav-link">
                           Deconnexion
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 500px">
    

        {% block head %} {% endblock %}
        <div class="content">
            <div class="container-fluid" >
              {% block content %} {% endblock %}
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <footer class="main-footer">
        <strong>Copyright &copy; 2018-2019 <a href="https://adminlte.io">Schoolink.io</a>.</strong> Tous droits reservés.
    </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<script src="{{ asset('plugins/jquery/jquery.js') }}"></script>
<!-- jQuery -->
<script src="{{ asset('build/bootstrap-bundle.js') }}"></script>

<!-- DataTables -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap4.js') }}"></script>
<!-- InputMask -->
<script src="{{asset('plugins/input-mask/jquery.inputmask.js')}}"></script>
<script src="{{asset('plugins/input-mask/jquery.inputmask.date.extensions.js')}}"></script>
<script src="{{asset('plugins/input-mask/jquery.inputmask.extensions.js')}}"></script>

<script src="{{asset("plugins/datepicker/dist/datepicker.min.js")}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('build/adminlte.js') }}"></script>
<script>

    //setInterval('noti()',5000);
    function noti(){
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"{{ path('getNotif')}}",
            cache: false,
            contentType:false,
            processData:false,
            success:function (data) {
            console.log(data);
             $('#n').html(data.nb);  
            }


        });
    }
        

    function verifyDateFin(debut,fin) {
        if(new Date(debut[2],debut[1]-1,debut[0])<=new Date(fin[2],fin[1]-1,fin[0])){
            $(".error").html("");
            return true
        }else {
            $(".error").html("date invalide ");

            return false;
        }
    }

    function betweenDates(debut,date,fin) {
        if(new Date(debut[2],debut[1]-1,debut[0])<new Date(date[2],date[1]-1,date[0])<new Date(fin[2],fin[1]-1,fin[0])){
            $(".error").html("");
            return true
        }else {
            $(".error").html("date invalide ");

            return false;
        }
    }

    function verifyDateDebut(date) {
        alert(new Date(date[2],date[1]-1,date[0]));
        if(new Date()<= new Date(date[2],date[1]-1,date[0])){

            $(".error").html("");
            return true
        }else {
            $(".error").html("date non valide");
            return false;
        }

    }
</script>
<!-- page script -->
{% block js %} {% endblock %}
<script>

       
        $('.date').datepicker({
            format: 'mm/dd/yyyy',

          });
    $(function () {
        $('table').DataTable({
        
            language:{
                "sProcessing":     "Traitement en cours...",
                "sSearch":         "Rechercher&nbsp;:",
                "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix":    "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst":      "Premier",
                    "sPrevious":   "Pr&eacute;c&eacute;dent",
                    "sNext":       "Suivant",
                    "sLast":       "Dernier"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                },
                "select": {
                        "rows": {
                            _: "%d lignes séléctionnées",
                            0: "Aucune ligne séléctionnée",
                            1: "1 ligne séléctionnée"
                        } 
                }
            }
        }
            
        );
    });

</script>
<script>
    $(function () {
        // $("#example1").DataTable();
        // $('#example2').DataTable({
        //     "paging": true,
        //     "lengthChange": false,
        //     "searching": false,
        //     "ordering": true,
        //     "info": true,
        //     "autoWidth": false
        // });
    });
</script>
</body>
</html>
