
{% extends 'master.html.twig' %}
{% block head %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Présentation des Bulletins des élèves</h1>
                </div><!-- /.col -->
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>-->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-3">
    <div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-header">Classes</li>
            {% set m=0 %}
            {% set inc=0 %}
            {% set type_loop=0 %}
            {% for i in tabClasse %}
                {% set classe_loop=loop.index0 %}
                {% for l in i %}
                    {% set type_loop=type_loop+1 %}

                    <li class="list-group-item f1 {% if classe_loop== param_classe %}{% if type_loop== param_type %}active{% endif %} {% endif %}" rel="{{inc }}">
                        <form id="{{ inc}}" action="" method="get">
                            <input type="hidden" name="classe" value="{{ l.number }}">
                            <input type="hidden" name="type" value="{{ l.type }}">
                            {{ l.classe }}
                        </form>
                    </li>

                    {% set m=1 %}
                    {%  set inc=inc+1 %}
                {% endfor%}
            {% endfor%}
        </ul>
    </div>
    </div>
    </div>
        <div class="col-9">
            <table id="" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th>eleve</th>
                    <th>classe</th>
                    <th>Moy.1</th>
                    <th>Moy.2</th>
                    {% if periode | length == 3 %}
                    <th>Moy.3</th>
                    {% endif %}
                    <th>Moy.An</th>
                    <th>Rang An</th>
                    <th>Observation</th>
                </tr>
                </thead>
                <tbody>
                {% for i in tab  %}
                <tr>
                <td>{{ i.eleve.nom }} {{ i.eleve.prenom }}</td>
                <td> {{ i.typeClasse.classe.libelle }} {{ i.typeClasse.libelle}}</td>
                <td>{{ i.moyGen1}}</td>
                <td>{{ i.moyGen2}}</td>
                {% if periode | length == 3 %}
                <td>{{ i.moyGen3}}</td>
                {% endif %}
                <td>{{ i.moyAnnuelle}}</td>
                <td>{{ i.rangAnnuelle}}</td>
                <td>{{ i.obs }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if tab[0] is defined and  tab[0].actif== 1 %}
            <form action="{{ path('passage_action') }}" method="post">
            <div class="row">
                <div class="col-9">
                    <input type="hidden" value="{{ param_classe }}" name="classe">
                    <input type="hidden" value="{{ param_type }}" name="type">
                    <select class="form-control" name="classe_passe" id="classe_passe">
                        {% for  i in allClasses %}
                            <option value="{{ i.id }}">{{ i.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-3">
                    <input  class="btn btn-success" type="submit" value="Faire passer les  élèves " onclick="return confirm('Voulez vous  vraiment faire passer ses élèves en '+ $('#lcasse_passe').val() +' ?')">
                </div>
            </div>



            </form>
{% endif %}
        </div>
            <div  class="modal fade" id ="classe_modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form action="{{ path('passage_action') }}" method="post">
                                <input type="hidden" value="{{ param_classe }}" name="classe">
                                <input type="hidden" value="{{ param_type }}" name="type">
                                <select class="form-control" name="calsse_passe">
                                    {% for  i in allClasses %}
                                        <option>{{ i.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock  %}
{% block js %}
<script>
    $('.f1').click(function () {
        id=$(this).attr('rel');
        $("#"+id).submit();
    });

    </script>
{% endblock  %}