{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Matiere</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                     <span class="">
                       Matière</span>
                        <span class="pull-right" >
                        <a href="{{ path('matiere_index') }}"><i class="fa fa-backward text-dark"></i></a>
                        <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}"><i class="fa fa-edit text-warning"></i></a>
                            {% if matiere.archiver %}
                                <a href="{{ path('matiere_desarchive', { 'id': matiere.id }) }}"><i class="fa fa-folder-open-o text-success"></i></a>
                        {% else %}
                                <a href="{{ path('matiere_archive', { 'id': matiere.id }) }}"><i class="fa fa-folder text-danger"></i></a>
                            {% endif %}

                    </span>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(edit_form) }}
                    <div class="form-group">
                        <label>Libelle</label>
                        {{ form_widget(edit_form.libelle,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <input type="submit" value="Sauvegarder"  class="btn btn-success"/>
                    {{ form_end(edit_form) }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
