{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Matiere</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">Liste des matieres
            {#<a type="button" href="#eleve_modal" class="btn btn-primary btn-sm pull-right rounded" data-toggle="modal">Ajouter</a>#}
            <a type="button" href="{{ path('matiere_new') }}" class="btn btn-primary btn-sm pull-right rounded" >Ajouter</a>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Libelle</th>
                <th>Datecreation</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td><a href="{{ path('matiere_show', { 'id': matiere.id }) }}">{{ matiere.id }}</a></td>
                <td>{{ matiere.libelle }}</td>
                <td>{{ matiere.dateCreation | date('Y-m-d H:i:s')}}</td>
                <td>{% if matiere.archiver %}<span class="badge badge-danger">Obselète</span>{% else %}<span class="badge badge-success">Enseignée</span>{% endif %}</td>
                <td>
                    <div class=" row d-column justify-content-center">
                        <div class="">  <a class="dropdown-item modif btn btn-sm btn-warning" href="{{ path('matiere_show', { 'id': matiere.id }) }}" rel="#"><i class="fa fa-edit text-warning"></i></a></div>
                        <div class="">  <a class="dropdown-item infos btn btn-sm btn-linkedin" href="{{ path('matiere_show', { 'id': matiere.id }) }}" rel="#"><i class="fa fa-file-o text-primary"></i></a></div>
                        {% if matiere.archiver %}
                            <div class=""> <a class="dropdown-item btn btn-sm btn-success "  href="{{ path('matiere_desarchive', { 'id': matiere.id }) }}"><i class="fa fa-folder-open-o text-success"></i></a></div>
                        {% else %}
                            <div class=""> <a class="dropdown-item btn btn-sm btn-danger "  href="{{ path('matiere_archive', { 'id': matiere.id }) }}"><i class="fa fa-folder text-danger"></i></a></div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock %}
