{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Matiere</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                    <span class="">
                       Classe</span>
                        <span class="pull-right" >
                        <a href="{{ path('matiere_index') }}"><i class="fa fa-backward text-dark"></i></a>
                        {% if app.session.has('annee') %}
                        {% if app.session.get('annee').cloture==0 %} 
                        <a href="{{ path('matiere_edit', { 'id': matiere.id }) }}"><i class="fa fa-edit text-warning"></i></a>
                            {% if matiere.archiver %}
                                <a href="{{ path('matiere_desarchive', { 'id': matiere.id }) }}"><i class="fa fa-folder-open-o text-success"></i></a>
                        {% else %}
                                <a href="{{ path('matiere_archive', { 'id': matiere.id }) }}"><i class="fa fa-folder text-danger"></i></a>
                            {% endif %}
                        {% endif %}  
                        {% endif %} 
 
                    </span>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center"><table>
                                <tbody>
                                
                                <tr>
                                    <th>Libelle</th>
                                    <td>{{ matiere.libelle }}</td>
                                </tr>
                                <tr>
                                    <th>Date creation</th>
                                    <td>{{ matiere.dateCreation | date('Y-m-d H:i:s')}}</td>
                                </tr>

                                <tr>
                                    <th>Statut</th>
                                    <td>{% if matiere.archiver %}<span class="badge badge-danger">Matière non existante</span>{% else %}<span class="badge badge-success">Matière existante</span>{% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
