{% extends 'master.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                     <span class="">
                       Matière</span>
                        <span class="pull-right" >
                        <a href="{{ path('class_mat_index') }}"><i class="fa fa-backward text-dark"></i></a>
                        <a href="{{ path('class_mat_edit', { 'id': classeMatiere.id }) }}"><i class="fa fa-edit text-warning"></i></a>
                            {% if classeMatiere.archiver %}
                                <a href="{{ path('class_mat_desarchive', { 'id': classeMatiere.id }) }}"><i class="fa fa-folder-open-o text-success"></i></a>
                        {% else %}
                                <a href="{{ path('class_mat_archive', { 'id': classeMatiere.id }) }}"><i class="fa fa-folder text-danger"></i></a>
                            {% endif %}

                    </span>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(edit_form) }}
                    <div class="form-group">
                        <label>Matiere</label>
                        {{ form_widget(edit_form.matiere,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>Coefficient</label>
                        {{ form_widget(edit_form.coefficient,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>classe</label>
                        {{ form_widget(edit_form.classe,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <input type="submit" value="Sauvegarder"  class="btn btn-success"/>
                    {{ form_end(edit_form) }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
