{% extends 'master.html.twig' %}

{% block content %}
<div class="card mb-5">
    <div class="card-header">
        <h3 class="card-title">Liste des matières
            {#<a type="button" href="#eleve_modal" class="btn btn-primary btn-sm pull-right rounded" data-toggle="modal">Ajouter</a>#}
            <a type="button" href="{{ path('class_mat_new') }}" class="btn btn-primary btn-sm pull-right rounded" >Ajouter</a>
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Matière</th>
                <th>Coefficient</th>
                <th>Classe</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classeMatiere in classeMatieres %}

            <tr>
                <td><a href="{{ path('class_mat_show', { 'id': classeMatiere.id }) }}">{{ classeMatiere.id }}</a></td>
                <td>{{ classeMatiere.matiere }}</td>
                <td>{{ classeMatiere.coefficient }}</td>
                <td>{{ classeMatiere.classe.libelle }}</td>
                <td>{% if classeMatiere.archiver %}<span class="badge badge-danger">Matière non enseignée</span>{% else %}<span class="badge badge-success">Matière enseignée</span>{% endif %}</td>
                <td>
                    <div class=" row d-column justify-content-center">
                        <div class="">  <a class="dropdown-item modif btn btn-sm btn-warning" href="{{ path('class_mat_show', { 'id': classeMatiere.id }) }}" rel="#"><i class="fa fa-edit text-warning"></i></a></div>
                        <div class="">  <a class="dropdown-item infos btn btn-sm btn-linkedin" href="{{ path('class_mat_show', { 'id': classeMatiere.id }) }}" rel="#"><i class="fa fa-file-o text-primary"></i></a></div>
                        {% if classeMatiere.archiver %}
                        <div class=""> <a class="dropdown-item btn btn-sm btn-success "  href="{{ path('class_mat_desarchive', { 'id': classeMatiere.id }) }}"><i class="fa fa-folder-open-o text-success"></i></a></div>
{% else %}
    <div class=""> <a class="dropdown-item btn btn-sm btn-danger "  href="{{ path('class_mat_archive', { 'id': classeMatiere.id }) }}"><i class="fa fa-folder text-danger"></i></a></div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
{% endblock %}
