{% extends 'master.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                       Ajouter une nouvelle matière
                        <span class="pull-right">
                            <a href="{{ path('class_mat_index') }}"><i class="fa fa-backward text-dark"></i></a>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label>Matiere</label>
                        {{ form_widget(form.matiere,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>Coefficient</label>
                        {{ form_widget(form.coefficient,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>classe</label>
                        {{ form_widget(form.classe,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <input type="submit" value="Ajouter"  class="btn btn-success"/>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
