
{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Modification de l'année Académique</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <h3 class="card-title">Année Académique</h3>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="{{ path('edit',{'id':annee.id}) }}"  method="post">
                            <div class="row">

                                <div class="col-md-6">
                                    <label for="" class="">Date Debut :</label>
                                    <div class="">
                                        <input type="text" value="{{annee.dateDebut|date('d-m-Y')}}"  name="debut" class= "form-control " required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="">Date Fin :</label>
                                    <div class="">
                                        <input type="text" value="{{annee.dateFin |date('d-m-Y')}}" name="fin" class= "form-control" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="periodes">
                                    {% if(annee.typePeriode=="Trimestre") %}

                                       {% for periode in periodes %}

                                           <div class="col-lg-12">
                                               <label for="" class="">Trimestre {{ loop.index }} :</label>
                                           </div>
                                           <div class="container-fluid row">
                                               <div class="col-md-6">
                                                   <div class="">
                                                       <input type="text" name="debutT{{ loop.index }}" value="{{ periode.dateDebut|date('d-m-Y') }}" placeholder="date debut" class= "form-control nom" >
                                                   </div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="">
                                                       <input type="text" name="finT{{ loop.index }}" value="{{ periode.dateFin|date('d-m-Y') }}" placeholder="date fin" class= "form-control nom" >
                                                   </div>
                                               </div>
                                           </div>

                                        {% endfor %}

                                {% else %}
                                {% for periode in periodes %}
                                    <div class="col-lg-12">
                                        <label for="" class="">Semestre {{ loop.index }} :</label>
                                    </div>
                                    <div class="container-fluid row">
                                        <div class="col-md-6">
                                            <div class="">
                                                <input type="text" name="debutS{{ loop.index }}" value="{{ periode.dateDebut|date('d-m-Y') }}" placeholder="date debut" class= "form-control nom" >
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="">
                                                <input type="text" name="finS{{ loop.index }}" value="{{ periode.dateFin|date('d-m-Y') }}" placeholder="date fin" class= "form-control nom" >
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                    {% endif %}
                            </div>

                            <div class="row my-4">
                                <div class="col-lg-12 form-group d-flex justify-content-center">
                                    <p class="mx-1"><button type="button"  id="close" class="btn btn-default btn-sm tr_font" >Annuler</button></p>
                                    <p class="mx-1"><button type="submit" id="btn" class="btn btn-sm bg-success tr_font text-white" >Sauvegarder</button></p>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </section>


{% endblock %}

{% block js %}
    <script>


    </script>
{% endblock %}
