{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Eleve</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
    {#{{ path('eleve_new') }}#}
    <div class="row">
    <div class="col-8">
    <div class="card mb-5">
        <div class="card-header">
            <h3 class="card-title">Liste des élèves de la {{classeType.classe.libelle}} {{classeType.libelle}}
                {#<a type="button" href="#eleve_modal" class="btn btn-primary btn-sm pull-right rounded" data-toggle="modal">Ajouter</a>#}
                 {#<a type="button" href="{{ path('add_in_class_type',{'classeType':classeType.id}) }}" class="btn btn-primary btn-sm pull-right rounded" >Ajouter</a>#}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Sexe</th>
                    <th>Date de naissance</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for eleve_type in eleves_type %}
                    {% if eleve_type.eleve.archiver == 0 %}
                    <tr>
                        {#<td><a href="{{ path('eleve_show', { 'id': eleve.id }) }}">{{ eleve.id }}</a></td>#}
                        <td>{{ loop.index }}</td>
                        <td>{{ eleve_type.eleve.nom }}</td>
                        <td>{{ eleve_type.eleve.prenom }}</td>
                        <td>{% if eleve_type.eleve.sexe == 1 %}M {% else %}F{% endif %}</td>
                        <td>{% if eleve_type.eleve.dateNaissance %}{{ eleve_type.eleve.dateNaissance|date('d-m-Y') }}{% endif %}</td>
                        <td>
                            <div class=" row d-column justify-content-center">
                                <div class=""> <a class="dropdown-item btn btn-sm btn-danger "  href="{{ path('remove_eleve_in_classeType', { 'id': eleve_type.id }) }}"><i class="fa fa-remove text-danger"></i></a></div>

                            </div>
                            {#<div class="dropdown navbar">
                                <button class="btn bg-side text-white btn-sm dropdown-toggle" title="plus d'actions" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <a class="dropdown-item modif" rel="{{ path('eleve_edit', { 'id': eleve.id }) }}" href="#">Modifier</a>
                                    <a class="dropdown-item infos" rel="{{ path('eleve_show', { 'id': eleve.id })}}" href="#">Plus d'infos</a>
                                    <a class="dropdown-item "  href="{{ path('eleve_archive', { 'id': eleve.id }) }}">Archiver</a>
                                </div>
                            </div>#}
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>

    <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                       Ajouter un nouvel élève à la classe
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ path('save_new_eleve_in_classe',{'classeType': classeType.id}) }}">
                    <div class="form-group">
                        <label>Classe</label>
                        <select name="eleve" id="eleve" class="form-control">
                            {% for eleve in eleves %}
                            <option value="{{ eleve.id }}">{{ eleve.prenom }} {{ eleve.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="submit" value="Créer"  class="btn btn-success"/>
                    </form>
                </div>

            </div>
        </div>
    </div>    
{% endblock %}
