{% extends 'master.html.twig' %}
{% block head %} 

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Eleve</h1>
            </div><!-- /.col -->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Starter Page</li>
                </ol>
            </div>-->
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block content %}
  {#  <h1>Eleve creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('eleve_index') }}">Back to the list</a>
        </li>
    </ul>#}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Enregistrer un nouvel élève
                    </div>
                </div>
                <div class="card-body">
                    <form action="{{ path('save_new_eleve_in_classe',{'classeType': classeType.id}) }}">
                    <div class="form-group">
                        <label>Classe</label>
                        <select name="eleve" id="eleve" class="form-control">
                            {% for eleve in eleves %}
                            <option value="{{ eleve.id }}">{{ eleve.prenom }} {{ eleve.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="submit" value="Créer"  class="btn btn-success"/>
                    </form>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
