{% extends 'master.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                     {#<span class="">#}
                          <h3>
                       Attribution d'un professeur a la matiere {{ class_matiere.matiere.libelle }} de la classe {{ class_matiere.classe.libelle }}
                              </h3>
                     {#</span>#}
                        {#<span class="pull-right" >#}
                            {#<a href="{{ path('class_mat_index',{'id':classe_id}) }}"><i class="fa fa-backward text-dark"></i></a>#}
                            {#<a href="{{ path('class_mat_edit', { 'id': classeMatiere.id,'cl':classe_id }) }}"><i class="fa fa-edit text-warning"></i></a>#}
                            {#{% if classeMatiere.archiver %}#}
                                {#<a href="{{ path('class_mat_desarchive', { 'id': classeMatiere.id ,'cl':classe_id }) }}"><i class="fa fa-folder-open-o text-success"></i></a>#}
                            {#{% else %}#}
                                {#<a href="{{ path('class_mat_archive', { 'id': classeMatiere.id ,'cl':classe_id }) }}"><i class="fa fa-folder text-danger"></i></a>#}
                            {#{% endif %}#}

                    {#</span>#}
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-success pull-right" type="submit"> Attribuer  </button>
                    {{ form_end(form) }}


                    {#<input type="submit" value="Sauvegarder"  class="btn btn-success"/>#}
                    {#{{ form_end(edit_form) }}#}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
