
{% extends 'master.html.twig' %}
{% block head %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Présentation  fiche  de  notes</h1>
                </div><!-- /.col -->
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>-->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h6><b>Fiche de note</b></h6>
            <h6><b>Matiere</b> {{ cm.matiere.libelle }}</h6>
            <h6><b>Coefficient</b> {{ cm.coefficient }}</h6>
            <h6><b>Classe</b> {{ tc.classe.libelle }}{{ tc.libelle }}</h6>
            <h6><b>Effectif</b>{{ el | length }}</h6>
            <h6><b>Période</b>{% if p.id ==1 %}1er semestre{% else %}2 Semestre{% endif %}</h6>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">notes des éleves</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Elève</th>
                                <th>Interro1</th>
                                <th>Interro2</th>
                                <th>Moy.Int</th>
                                <th>Devoir1</th>
                                <th>Devoir2</th>
                                <th>Moy/20</th>
                                <th>Moy coeff</th>
                                <th>Obs.</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for i in tab %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ i['eleve']}}</td>
                                    <td>{{ i['interro1'] }}</td>
                                    <td>{{ i['interro2']}}</td>
                                    <td>{{i['MINT']}}</td>
                                    <td>{{i['devoir1'] }}</td>
                                    <td>{{ i['devoir2'] }}</td>
                                    <td>{{ i['Moy'] }}</td>
                                    <td>{{ i['MoyC'] }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>

{% endblock  %}