
{% extends 'master.html.twig' %}
{% block head %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Résultat éleve</h1>
                </div><!-- /.col -->
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>-->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
{{ dump(tab) }}
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-header">Classes</li>
                        {% set m=0 %}
                        {% for i in tabClasse %}
                            {% for l in i %}
                                <li class="list-group-item {% if m==0 %}active{% endif %} ">{{ l.classe }}</li>
                                {% set m=1 %}
                            {% endfor%}
                        {% endfor%}
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-header">Matières</li>
                        {% for i in matiere %}
                                <li class="list-group-item {% if loop.first %}active{% endif %}  ">{{ i.matiere.libelle }}</li>
                        {% endfor%}
                    </ul>
                </div>
            </div>

        </div>
<div class="col-9">
    <div class="card">
        <div class="card-header">
            <h6><b>Fiche de note</b></h6>
            <h6><b>Matiere</b> :{{ tab['cm'].matiere.libelle }}</h6>
            <h6><b>Coefficient</b> :{{tab['cm'] .coefficient }}</h6>
            <h6><b>Classe</b> :{{ tab['tc'] .classe.libelle }}{{tab['tc'] .libelle }}</h6>
            <h6><b>Effectif</b> :{{ tab['el'] | length }}</h6>
            <h6><b>Période</b> :{% if tab['p'] .id ==1 %}1er semestre{% else %}2 Semestre{% endif %}</h6>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">notes des éleves</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Elève</th>
                                <th>Interro1</th>
                                <th>Interro2</th>
                                <th>Moy.Int</th>
                                <th>Devoir1</th>
                                <th>Devoir2</th>
                                <th>Moy/20</th>
                                <th>Moy coeff</th>
                                <th>Obs.</th>
                            </tr>
                            </thead>
                            <tbody style="overflow: scroll; width: 100px">

                            {% for i in tab['tab'] %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ i['eleve']}}</td>
                                    <td>{{ i['interro1'] }}</td>
                                    <td>{{ i['interro2']}}</td>
                                    <td>{{i['MINT']}}</td>
                                    <td>{{i['devoir1'] }}</td>
                                    <td>{{ i['devoir2'] }}</td>
                                    <td>{{ i['Moy'] }}</td>
                                    <td>{{ i['MoyC'] }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
    </div>


    <div class="row">
        <div class="col-3">
            <h5>Option de recherche</h5>
            <div class="card">
                <div class="card-header">
                    Fiche de note
                </div>
                <div class="card-body">
                    <form action="{{ path('fiche_note') }}" method="post">
                        <div class="form-group">
                            <label>Type de classe</label>
                            <select class="form-control" name="tc" id="type" required>
                                {% for i in tc %}
                                    {% if i!=null %}
                                <option value="{{ i.id }}" rel="{{ i.classe.id }}">{{ i.classe.libelle }}  {{ i.libelle }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Matière</label>
                            <select class="form-control" name="cm" id="mat" required>
                            {#{% for i in cm %}#}
                                {#<option value="{{ i.matiere.id }}">{{ i.matiere.libelle }}</option>#}
                            {#{% endfor %}#}
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Période</label>
                            <select class="form-control" name="p" required>
                                {% for i in periode %}
                                <option title="{{ i.dateDebut | date("d-m-Y") }} au  {{ i.dateFin | date("d-m-Y") }}" value="{{ i.id }}">{{ annee.typePeriode }} {{ loop.index }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Rechecher">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                   Bulletin
                </div>
                <div class="card-body">
                    <form action="{{ path('bulletin') }}" method="post">
                        <div class="form-group">
                            <label>Type de classe</label>
                            <select class="form-control" name="tc" required>
                                {% for i in tc %}
                                {% if i!=null %}
                                <option value="{{ i.id }}">{{ i.classe.libelle }}  {{ i.libelle }}</option>
                                {% endif %}
                                    {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Période</label>
                            <select class="form-control" name="p" required>
                                {% for i in periode %}
                                    <option title="{{ i.dateDebut | date("d-m-Y") }} au  {{ i.dateFin | date("d-m-Y") }}" value="{{ i.id }}">{{ annee.typePeriode }} {{ loop.index }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Rechercher">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Récentes notes </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Elève</th>
                            <th>Type</th>
                            <th>Notes</th>
                            <th>Matière</th>
                            <th>Classe</th>
                            <th>Professeur</th>
                            <th>Période</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for i in notes %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ i.eleve.prenom }} {{ i.eleve.nom }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.note }}</td>
                                <td>{{ i.classeMatiereProfesseurAnnee.classematiere.matiere.libelle }}</td>
                                <td>{{ i.classeMatiereProfesseurAnnee.classematiere.classe.libelle }} {{ i.classeMatiereProfesseurAnnee.typeclasse.classe.libelle }}</td>
                                <td>{#  {{ i.classeMatiereProfesseurAnnee.professeur.nom}}#} nom prof</td>
                                <td>{{ i.periode.id }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>

    <!-- /.card -->
{% endblock %}

{% block js %}
    <script>
        $('#type').change(function () {
            var id=$(this).val();
            var form=new FormData();
            form.append('type',id);
            $.ajax({
                type:"POST",
                dataType:"json",
                data:form,
                url:"{{ path('get_matiere_with_typeClasse')}}",
                cache: false,
                contentType:false,
                processData:false,
                success:function (data) {
                    $('#mat').html('');
                    for (var i=0;i<data.mats.length;i++){
                        $('#mat').append('<option value="'+data.mats[i].id+'">'+data.mats[i].libelle+'</option>')
                    }
                }


            });
        });
        $(document).ready(function () {
            var id=$('#type').val();
            var form=new FormData();
            form.append('type',id);
            $.ajax({
                type:"POST",
                dataType:"json",
                data:form,
                url:"{{ path('get_matiere_with_typeClasse')}}",
                cache: false,
                contentType:false,
                processData:false,
                success:function (data) {
                    $('#mat').html('');
                    for (var i=0;i<data.mats.length;i++){
                        $('#mat').append('<option value="'+data.mats[i].id+'">'+data.mats[i].lib+'</option>')
                    }
                }


            });
        });
    </script>
{% endblock %}