
{% extends 'master.html.twig' %}
{% block head %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Résultat éleve</h1>
                </div><!-- /.col -->
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>-->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-header">Classes</li>
                        {% set m=0 %}
                        {% set inc=0 %}
                        {% set type_loop=0 %}
                        {% for i in tabClasse %}
                            {% set classe_loop=loop.index0 %}
                            {% for l in i %}
                                {% set type_loop=type_loop+1 %}

                                <li class="list-group-item f1 {% if classe_loop== param_classe %}{% if type_loop== param_type %}active{% endif %} {% endif %}" rel="{{inc }}">
                                    <form id="{{ inc}}" action="" method="get">
                                        <input type="hidden" name="classe" value="{{ l.number }}">
                                        <input type="hidden" name="type" value="{{ l.type }}">
                                        {{ l.classe }}
                                    </form>
                                </li>

                                {% set m=1 %}
                                {%  set inc=inc+1 %}
                            {% endfor%}
                        {% endfor%}
                    </ul>
                </div>
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-header">Matières</li>
                        {% for i in matiere %}
                                <li class="list-group-item m1 {% if loop.index0 == param_matiere %}active{% endif %}" rel="{{ i.matiere.libelle }}">
                                    <form id="{{ i.matiere.libelle }}" action="" method="get">
                                        <input type="hidden" name="classe" value="{{ param_classe }}">
                                        <input type="hidden" name="type" value="{{ param_type }}">
                                        <input type="hidden" name="matiere" value="{{ loop.index0}}">
                                        {{ i.matiere.libelle }}
                                    </form>
                                  </li>
                        {% endfor%}
                    </ul>
                </div>
            </div>

        </div>
<div class="col-9">
    <div class="row d-flex justify-content-center">

                {% for i  in periode  %}
                    <form id="{{ i.nomPeriode  }}" action="" method="get">
                            <input type="hidden" name="classe" value="{{ param_classe }}">
                                        <input type="hidden" name="type" value="{{ param_type }}">
                                        <input type="hidden" name="param_matiere" value="{{ param_matiere }}">
                                        <input type="hidden" name="periode" value=" {{ i.id  }}">
                    <input class="btn {% if loop.index == param_periode %}btn-primary {% else %}btn-default {% endif %}" rel="{{ i.nomPeriode  }}" value="{{ i.nomPeriode  }}" type="submit">
                        </form>
                {% endfor %}

    </div>
    {% if tab['tab'] | length != 0 %}
    <div class="card">
        <div class="card-header">
            <h6><b>Fiche de note</b></h6>
            <h6><b>Matiere</b> :{{ tab['cm'].matiere.libelle }}</h6>
            <h6><b>Coefficient</b> :{{tab['cm'] .coefficient }}</h6>
            <h6><b>Classe</b> :{{ tab['tc'] .classe.libelle }}{{tab['tc'] .libelle }}</h6>
            <h6><b>Effectif</b> :{{ tab['el'] | length }}</h6>
            <h6><b>Période</b> :{% if tab['p'] .id ==1 %}1er semestre{% else %}2 Semestre{% endif %}</h6>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">notes des éleves</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Elève</th>
                                {% for i in tab['tab'] %}
                                {% if loop.first %}
                                    {% if i['interro_name'] is defined %}
                                {% for g in i['interro_name'] %}
                                    <th>
                                     <span>  {{g['nom']}}</span> <br>
                                        {%  if g['etat'] == 1 %}
                                            <span>
                                     <form action="" method="post">
                                          <input type="hidden" name="classe" value="{{ param_classe }}">
                                        <input type="hidden" name="type" value="{{ param_type }}">
                                        <input type="hidden" name="param_matiere" value="{{ param_matiere }}">
                                        <input type="hidden" name="periode" value=" {{ param_periode  }}">
                                         <input type="hidden" value="{{ tab['cm'].id }}" name="cmpa">
                                         <input type="hidden" value="{{g['nom']}}" name="type2">
                                         <button class="btn btn-sm text-danger"><i class="fa fa-remove"></i></button>
                                     </form>
                                     </span>

                                            {% else %}

                                                <span>
                                     <form action="" method="post">
                                          <input type="hidden" name="classe" value="{{ param_classe }}">
                                        <input type="hidden" name="type" value="{{ param_type }}">
                                        <input type="hidden" name="param_matiere" value="{{ param_matiere }}">
                                        <input type="hidden" name="periode" value=" {{ param_periode  }}">
                                         <input type="hidden" value="{{ tab['cm'].id }}" name="cmpa">
                                         <input type="hidden" value="{{g['nom']}}" name="type2">
                                         <button class="btn btn-sm text-success"><i class="fa fa-send"></i></button>
                                     </form>
                                     </span>
                                            {% endif %}
                                    </th>
                                {% endfor %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}


                                <th>Moy.Int</th>

                                {% for i in tab['tab'] %}
                                {% if loop.first %}
                                    {% if i['devoir_name'] is defined %}
                                {% for h in i['devoir_name'] %}
                                    <th>
                                     <span>{{h['nom']}}</span> <br>
                                    {%  if h['etat'] == 1 %}
                                        <span>
                                     <form action="" method="post">
                                          <input type="hidden" name="classe" value="{{ param_classe }}">
                                        <input type="hidden" name="type" value="{{ param_type }}">
                                        <input type="hidden" name="param_matiere" value="{{ param_matiere }}">
                                        <input type="hidden" name="periode" value=" {{ param_periode  }}">
                                         <input type="hidden" value="{{ tab['cm'].id }}" name="cmpa">
                                         <input type="hidden" value="{{h['nom']}}" name="type2">
                                         <button class="btn btn-sm text-danger"><i class="fa fa-remove"></i></button>
                                     </form>
                                     </span>

                                    {% else %}
                                        <span>
                                     <form action="" method="post">
                                          <input type="hidden" name="classe" value="{{ param_classe }}">
                                        <input type="hidden" name="type" value="{{ param_type }}">
                                        <input type="hidden" name="param_matiere" value="{{ param_matiere }}">
                                        <input type="hidden" name="periode" value=" {{ param_periode  }}">
                                         <input type="hidden" value="{{ tab['cm'].id }}" name="cmpa">
                                         <input type="hidden" value="{{h['nom']}}" name="type2">
                                         <button class="btn btn-sm text-success"><i class="fa fa-send"></i></button>
                                     </form>
                                     </span>

                                    {% endif %}

                                    </th>
                                {% endfor %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}


                                <th>Moy/20</th>
                                <th>Moy coeff</th>
                                <th>Obs.</th>
                            </tr>
                            </thead>
                            <tbody style="overflow: scroll; width: 100px">

                            {% for i in tab['tab'] %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ i['eleve']}}</td>
                                    {% if i['interro_note'] is defined %}
                                    {% for g in i['interro_note'] %}
                                        <td>{{g}}</td>
                                    {% endfor %}
                                    {% endif %}

                                    <td>{{i['MINT']}}</td>
                                    {% if i['devoir_name'] is defined %}
                                    {% for h in i['devoir_note'] %}
                                    <td>{{h}}</td>
                                    {% endfor %}
                                    {% endif %}

                                    <td>{{ i['Moy'] }}</td>
                                    <td>{{ i['MoyC'] }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
    {% else %}

        <h2 class="text-muted "  style="margin-top: 50px">Pas de fiche de note disponible pour cette classe</h2>
    {% endif %}
</div>
    </div>


{#    <div class="row">
        <div class="col-3">
            <h5>Option de recherche</h5>
            <div class="card">
                <div class="card-header">
                    Fiche de note
                </div>
                <div class="card-body">
                    <form action="{{ path('fiche_note') }}" method="post">
                        <div class="form-group">
                            <label>Type de classe</label>
                            <select class="form-control" name="tc" id="type">
                                {% for i in tc %}
                                    {% if i!=null %}
                                <option value="{{ i.id }}" rel="{{ i.classe.id }}">{{ i.classe.libelle }}  {{ i.libelle }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Matière</label>
                            <select class="form-control" name="cm" id="mat">
                            #}{#{% for i in cm %}#}{#
                                #}{#<option value="{{ i.matiere.id }}">{{ i.matiere.libelle }}</option>#}{#
                            #}{#{% endfor %}#}{#
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Période</label>
                            <select class="form-control" name="p">
                                {% for i in periode %}
                                <option title="{{ i.dateDebut | date("d-m-Y") }} au  {{ i.dateFin | date("d-m-Y") }}" value="{{ i.id }}">{{ annee.typePeriode }} {{ loop.index }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                   Bulletin
                </div>
                <div class="card-body">
                    <form action="{{ path('bulletin') }}" method="post">
                        <div class="form-group">
                            <label>Type de classe</label>
                            <select class="form-control" name="tc">
                                {% for i in tc %}
                                {% if i!=null %}
                                <option value="{{ i.id }}">{{ i.classe.libelle }}  {{ i.libelle }}</option>
                                {% endif %}
                                    {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Période</label>
                            <select class="form-control" name="p">
                                {% for i in periode %}
                                    <option title="{{ i.dateDebut | date("d-m-Y") }} au  {{ i.dateFin | date("d-m-Y") }}" value="{{ i.id }}">{{ annee.typePeriode }} {{ loop.index }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Récentes notes </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Elève</th>
                            <th>Type</th>
                            <th>Notes</th>
                            <th>Matière</th>
                            <th>Classe</th>
                            <th>Professeur</th>
                            <th>Période</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for i in notes %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ i.eleve.prenom }} {{ i.eleve.nom }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.note }}</td>
                                <td>{{ i.classeMatiereProfesseurAnnee.classematiere.matiere.libelle }}</td>
                                <td>{{ i.classeMatiereProfesseurAnnee.classematiere.classe.libelle }} {{ i.classeMatiereProfesseurAnnee.typeclasse.classe.libelle }}</td>
                                <td>#}{#  {{ i.classeMatiereProfesseurAnnee.professeur.nom}}#}{# nom prof</td>
                                <td>{{ i.periode.id }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>#}

    <!-- /.card -->
{% endblock %}

{% block js %}
    <script>
        $('.f1').click(function () {
            id=$(this).attr('rel');
            $("#"+id).submit();
        });

        $('.m1').click(function () {
            id=$(this).attr('rel');
            $("#"+id).submit();
        });
        $('.p1').click(function () {
            id=$(this).attr('rel');
            $("#"+id).submit();
        });
        $('#type').change(function () {
            var id=$(this).val();
            var form=new FormData();
            form.append('type',id);
            $.ajax({
                type:"POST",
                dataType:"json",
                data:form,
                url:"{{ path('get_matiere_with_typeClasse')}}",
                cache: false,
                contentType:false,
                processData:false,
                success:function (data) {
                    $('#mat').html('');
                    for (var i=0;i<data.mats.length;i++){
                        $('#mat').append('<option value="'+data.mats[i].id+'">'+data.mats[i].libelle+'</option>')
                    }
                }


            });
        });
        $(document).ready(function () {
            var id=$('#type').val();
            var form=new FormData();
            form.append('type',id);
            $.ajax({
                type:"POST",
                dataType:"json",
                data:form,
                url:"{{ path('get_matiere_with_typeClasse')}}",
                cache: false,
                contentType:false,
                processData:false,
                success:function (data) {
                    $('#mat').html('');
                    for (var i=0;i<data.mats.length;i++){
                        $('#mat').append('<option value="'+data.mats[i].id+'">'+data.mats[i].lib+'</option>')
                    }
                }


            });
        });
    </script>
{% endblock %}